---
# Secret for Cloudflare API token
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token-secret
  namespace: kube-system
type: Opaque
data:
  # **NOTE:** These values are **base64** encoded. `echo -n $value | base64`
  api-token: <base64-encoded-cloudflare-api-token>
  email: <base64-encoded-email-address>
