[Unit]
Description=K3s first boot config
Requires=k3s.service
After=k3s.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "ansible-galaxy collection install ansible.utils ansible.posix --force; /usr/bin/ansible-pull -d /etc/local/ansible -C '{{ ansible_pull_branch }}' -U {{ ansible_pull_repo }} -e '@/opt/k3s-values.json' ansible/first-boot.yml" 
ExecStartPost=/usr/bin/systemctl mask k3s-first-boot.service

[Install]
WantedBy=multi-user.target
